/cmake-build-debug
/.idea
/acinclude.m4
/aclocal.m4
/config.guess
/config.h.in
/config.sub
/configure
/configure.in
/install-sh
/ltmain.sh
/Makefile.global
/missing
/mkinstalldirs
/run-tests.php
/build
/.deps
/autom4te.cache
/config.h
/config.log
/config.nice
/config.status
/libtool
/Makefile
/Makefile.fragments
/Makefile.objects
/model.lo
/l5_model.la
/l5_model.lo
/.libs
/modules